body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 255, 255, 0.548);
}
.pokemon{
    background-color: coral;
    min-width: 180px;
    text-align: center;
    padding: 25px;
    border-radius: 6px;
    border: 10px gold solid;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, alpha); 
}
.pokemon .name{
    font-size: 2em;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
}
.pokemon .details{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 0 auto;
    
}
img{
    width: 100%;
}
#btn{
    display: block;
    background-color: orangered;
    color: black;
    padding: 10px;
    border: 3px solid black ;
    cursor: pointer;
    margin-top: 1rem;
}
#btn:hover{
    
    background-color: blue;
}
